{% extends 'base.html' %}

{% block content %}

<div class="sanskrit">
            <!-- <div class="cards C1" data-hover="पाठ">
                <h1>Lessons</h1>
            </div> -->
            <div class="cards C1" data-hover="प्रश्नोत्तरी">
                <h3><object data="https://drive.google.com/file/d/16exlrf0MjBQo9TVELM3oRDYYgBAGB8YU/view" type="application/x-pdf" title="SamplePdf" width="500" height="720">
                    <a href="https://drive.google.com/file/d/16exlrf0MjBQo9TVELM3oRDYYgBAGB8YU/view" style="text-decoration:none; color:white;">Class 6th</a> 
                </object></h3>
                
            </div>
            
            <div class="cards C4" data-hover="प्रश्नोत्तरी">
                <h3><object data="https://drive.google.com/file/d/1PNCIo7pCaU06x3YXz8lvsdax3uAz6nnY/view" type="application/x-pdf" title="SamplePdf" width="500" height="720">
                    <a href="https://drive.google.com/file/d/1PNCIo7pCaU06x3YXz8lvsdax3uAz6nnY/view" style="text-decoration:none; color:white;">Class 7th</a> 
                </object></h3>
                
            </div>
            <div class="cards C3" data-hover="प्रश्नोत्तरी">
                <h3><object data="https://drive.google.com/file/d/1Q3LeldCaG7J0Yjnlz19YRd-gPimvF-b9/view" type="application/x-pdf" title="SamplePdf" width="500" height="720">
                    <a href="https://drive.google.com/file/d/1Q3LeldCaG7J0Yjnlz19YRd-gPimvF-b9/view" style="text-decoration:none; color:white;">Class 8th</a> 
                </object></h3>
                
            </div>
            
            
        </div> 
        

{% endblock content %}