{% extends 'base.html' %}

{% block content %}

<div class="sanskrit">
            
            <div class="cards C1" >
                <h4><a href="{%url 'quiz'%}" style="text-decoration: none; color:white;">प्रश्नावली</a></h4>
            </div>
            <div class="cards C3">
                <h4><a href="{%url 'mantras'%}" style="text-decoration: none; color:white;">संस्कृत मन्त्र </a></h4>
            </div>
            <div class="cards C4" >
                <h4><a href="{%url 'books'%}" style="text-decoration: none; color:white;">पुस्तकाः </a></h4>
            </div>
        </div> 
        

{% endblock content %}