<!doctype html>
<html lang="en">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Sanskritam</title>
</head>
<script>
    let play1 = function () { document.getElementById("audio1").play() }
    let stop1 = function () { document.getElementById("audio1").pause() }
    let stop2 = function () { document.getElementById("audio2").pause() }
    let play2 = function () { document.getElementById("audio2").play() }
    let play3 = function () { document.getElementById("audio3").play() }
    let stop3 = function () { document.getElementById("audio3").pause() }
    let play4 = function () { document.getElementById("audio4").play() }
    let stop4 = function () { document.getElementById("audio4").pause() }
    let play5 = function () { document.getElementById("audio5").play() }
    let stop5 = function () { document.getElementById("audio5").pause() }
    let play6 = function () { document.getElementById("audio6").play() }
    let stop6 = function () { document.getElementById("audio6").pause() }
</script>

<body>
    <section>
        <header>
            <a href="{% url 'home'%}" class="logo">संस्कृतम्</a>
            <div class="toggleMenu" onclick="toggleMenu();"></div>
            <ul class="navigation">
                <li><a href="{% url 'home'%}" class="left">Home</a></li>
                <li><a href="{% url 'mantras'%}" class="left">Mantras</a></li>
                <li><a href="{% url 'books'%}" class="left">Books</a></li>
                <li><a href="{% url 'quiz'%}" class="left">Quiz</a></li>
                <li><a href="{% url 'contact'%}" class="left">Contact Us</a></li>

        </header>
        <div class="container">
        <h3 style="text-align:center; color:white;">Play and Learn</h3>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="card" style="width: 400px;">
                        <div class="card-body">
                            <h5 class="card-title">महामृत्युंजय मंत्र</h5>
                            <p class="card-text">ॐ त्र्यम्बकं यजामहे सुगन्धिं पुष्टिवर्धनम् उर्वारुकमिव बन्धनान्मृ त्योर्मुक्षीय मामृतात्</p>
                            <a href="#"><button type="button" class="btn btn-danger" onclick="play1()">Play</button></a>
                            <a href="#"><button type="button" class="btn btn-success" onclick="stop1()">Stop</button></a>
                            <audio id="audio1" src="/media/musics/mahamritunjay.mp3"></audio>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card" style="width: 400px;">
                        <div class="card-body">
                            <h5 class="card-title">गायत्री महामंत्र </h5>
                            <p class="card-text">ॐ भूर्भव: स्व: तत्सवितुर्वरेण्यं भर्गो देवस्य धीमहि धियो यो न: प्रचोदयात्।</p>
                            <a href="#"><button type="button" class="btn btn-danger" onclick="play2()">Play</button></a>
                            <a href="#"><button type="button" class="btn btn-success" onclick="stop2()">Stop</button></a>
                            <audio id="audio2" src="/media/musics/gayatri.mp3"></audio>
                        </div>
                    </div>
                </div>
                 <div class="col-sm-12 col-md-4">
                    <div class="card" style="width: 400px;">
                        <div class="card-body">
                            <h5 class="card-title">शान्ति मंत्र </h5>
                            <p class="card-text">ॐ द्यौ: शान्तिरन्तरिक्षँ शान्ति:,
                                पृथ्वी शान्तिराप: शान्तिरोषधय: शान्ति: ।
                                वनस्पतय: शान्तिर्विश्वे देवा: शान्तिर्ब्रह्म शान्ति:,
                                सर्वँ शान्ति:, शान्तिरेव शान्ति:, सा मा शान्तिरेधि ॥
                            </p>
                            <a href="#"><button type="button" class="btn btn-danger" onclick="play3()">Play</button></a>
                            <a href="#"><button type="button" class="btn btn-success" onclick="stop3()">Stop</button></a>

                            <audio id="audio3" src="/media/musics/shantimantra.mp3"></audio>
                        </div>
                    </div>
                </div>
            </div>
            
            <br><br>
            
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="card" style="width: 400px;">
                        <div class="card-body">
                            <h5 class="card-title">स्वस्ति वाचन मंत्र</h5>
                            <p class="card-text">
                                ॐ स्वस्ति न इन्द्रो वृद्धश्रवाः। स्वस्ति नः पूषा विश्ववेदाः। स्वस्ति नस्तार्क्ष्यो अरिष्टनेमिः। स्वस्ति नो बृहस्पतिर्दधातु ॥</p>
                            <a href="#"><button type="button" class="btn btn-danger" onclick="play4()">Play</button></a>
                            <a href="#"><button type="button" class="btn btn-success" onclick="stop4()">Stop</button></a>

                            <audio id="audio4" src="/media/musics/SwastiMantra.mp3"></audio>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card" style="width: 400px;">
                        <div class="card-body">
                            <h5 class="card-title">सत्यमेव जयते </h5>
                            <p class="card-text">नानृतम सत्येन पंथा विततो देवयानः। येनाक्रमंत्यृषयो ह्याप्तकामो यत्र तत् सत्यस्य परमम् निधानम्॥ </p>
                            <a href="#"><button type="button" class="btn btn-danger" onclick="play5()">Play</button></a>
                            <a href="#"><button type="button" class="btn btn-success" onclick="stop5()">Stop</button></a>

                            <audio id="audio5" src="/media/musics/satyamevjayate.mp3"></audio>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card" style="width: 400px;">
                        <div class="card-body">
                            <h5 class="card-title">पूर्ण मंत्र:</h5>
                            <p class="card-text">ॐ पूर्णमद: पूर्णमिदं 
                                पूर्णात पूर्णमुदच्युते। 
                                पूर्णस्य पूर्णमादाय 
                                पूर्णमेवावसिष्यते।।
                             ।।ॐ शांती: शांती: शांती:।।
                            </p>
                            <a href="#"><button type="button" class="btn btn-danger" onclick="play6()">Play</button></a>
                            <a href="#"><button type="button" class="btn btn-success" onclick="stop6()">Stop</button></a>

                            <audio id="audio6" src="/media/musics/poorna_mantra.mp3"></audio>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                    <div style="background-image: url(/static/img/download.jpeg);" class="image-grid-cover">
                        <a href="#" class="image-grid-clickbox"></a>

                        <a href="#" class="cover-wrapper"><button type="button" class="btn btn-danger"
                                onclick="play1()">Play</button></a><br>
                        <a href="#" class="cover-wrapper"><button type="button" class="btn btn-success"
                                onclick="stop1()">Stop</button></a>
                        <audio id="audio" src="/media/musics/gayatri.mp3"></audio>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                    <div style="background-image: url(/static/img/download.jpeg);" class="image-grid-cover">
                        <a href="#" class="image-grid-clickbox"></a>

                        <a href="#" class="cover-wrapper"><button type="button" class="btn btn-danger"
                                onclick="play2()">Play</button></a><br>
                        <a href="#" class="cover-wrapper"><button type="button" class="btn btn-success"
                                onclick="stop2()">Stop</button></a>
                        <audio id="audio" src="/media/musics/mahamritunjay.mp3"></audio>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                    <div style="background-image: url(/static/img/download.jpeg);" class="image-grid-cover">
                        <a href="#" class="image-grid-clickbox"></a>

                        <a href="#" class="cover-wrapper"><button type="button" class="btn btn-danger"
                                onclick="play()">Play</button></a><br>
                        <a href="#" class="cover-wrapper"><button type="button" class="btn btn-success"
                                onclick="stop()">Stop</button></a>
                        <audio id="audio" src="/media/musics/shantimantra.mp3"></audio>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                    <div style="background-image: url(/static/img/download.jpeg);" class="image-grid-cover">
                        <a href="#" class="image-grid-clickbox"></a>

                        <a href="#" class="cover-wrapper"><button type="button" class="btn btn-danger"
                                onclick="play()">Play</button></a><br>
                        <a href="#" class="cover-wrapper"><button type="button" class="btn btn-success"
                                onclick="stop()">Stop</button></a>
                        <audio id="audio" src="/media/musics/SwastiMantra.mp3"></audio>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                    <div style="background-image: url(/static/img/download.jpeg);" class="image-grid-cover">
                        <a href="#" class="image-grid-clickbox"></a>

                        <a href="#" class="cover-wrapper"><button type="button" class="btn btn-danger"
                                onclick="play()">Play</button></a><br>
                        <a href="#" class="cover-wrapper"><button type="button" class="btn btn-success"
                                onclick="stop()">Stop</button></a>
                        <audio id="audio" src="/media/musics/satyamevjayate.mp3"></audio>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                    <div style="background-image: url(/static/img/download.jpeg);" class="image-grid-cover">
                        <a href="#" class="image-grid-clickbox"></a>

                        <a href="#" class="cover-wrapper"><button type="button" class="btn btn-danger"
                                onclick="play()">Play</button></a><br>
                        <a href="#" class="cover-wrapper"><button type="button" class="btn btn-success"
                                onclick="stop()">Stop</button></a>
                        <audio id="audio" src="gayatri-mantra-raga-1.mp3"></audio>
                    </div>
                </div>
            -->


    </section>

    <script type="text/javascript">
        function toggleMenu() {
            const toggleMenu = document.querySelector('.toggleMenu');
            const navigation = document.querySelector('.navigation');
            toggleMenu.classList.toggle('active');
            navigation.classList.toggle('active');
        }
    </script>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
</body>

</html>