{% extends 'base.html' %}

{% block content %}

<div class="sanskrit">
            <div class="cards C1" >
                <h3><a href="{% url 'quiz1'%}" style="text-decoration:none; color:white;">प्रश्नावली 1</a></h3>
            </div> 
            <div class="cards C2" >
                <h3><a href="{% url 'quiz2'%}" style="text-decoration:none; color:white;">प्रश्नावली 2</a></h3>
            </div>
            <div class="cards C3">
                <h3><a href="{% url 'quiz3'%}" style="text-decoration:none; color:white;">प्रश्नावली 3</a></h3>
            </div>
            {% comment %} <div class="cards C4" >
                <h3><a href="Books/books.html" style="text-decoration:none; color:white;">Quiz 4</a></h3>
            </div> {% endcomment %}
        </div> 
        

{% endblock content %}