<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous'>

    
    <title>प्रश्नावली 2</title>
    <style>
        body{
    background-color: rgba(162, 73, 250,0.4);
}

#Quiz{
    margin: 40px 20%;
}

.quiz-heading{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border-top: 15px solid rgb(162, 73, 250);
    padding: 15px;
    margin-bottom: 20px;
}

.question{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border-left: 10px solid rgb(162, 73, 250);
    padding: 15px;
    margin-bottom: 20px;
}

.question .row{
    margin-bottom: 13px;
}

.question .question-no{
    text-align: center;
}

.question .option{
    display: block;
    margin-left: 40px;
    padding: 3px 5px;
    border-radius: 4px;
}

.question input {
    margin-right: 5px;
}

.actions {
    margin-top: 20px;
}

.actions .submit{
    display: none;
}

.actions .alert{
    color: red;
}





    </style>
</head>

<body>
    
    <div id='Quiz'>
        <div class='container'>
            <div class='quiz-heading'>
                <h1>निम्नलिखित  संज्ञा  शब्दों के सर्वनाम रिक्त स्थान पर भरें | </h1>
                <p> Level 2 <span class="score"></span></p>
            </div>
            <div id='questions'>
                <div class='question'>
                    <div class='row'>
                        <div class='col-2 question-no'><strong>Q.1</strong></div>
                        <div class='col-10 question-content'>What is the mass of sun ? </div>
                    </div>
                    <label class='option'>
                        <input type='radio' name='answer'>
                        23995 kg
                    </label>
                    <label class='option'>
                        <input type='radio' name='answer'>
                        232345 kg
                    </label>
                    <label class='option'>
                        <input type='radio' name='answer'>
                        23425 kg
                    </label>
                    <label class='option'>
                        <input type='radio' name='answer'>
                        2343225 kg
                    </label>
                </div>
            </div>

            <div class="actions">
                <button class='next btn btn-primary'>Next</button>
                <button class='submit btn btn-success'>Submit</button>
                <span class="alert"></span>
            </div>
                        <button class="btn btn-danger" style="float: right; margin-top: -45px;"><a href="{%url 'quiz'%}" style=" text-decoration: none; color: white;">GO BACK</a></button>

        </div>
    </div>

    <!-- jQuery cdn -->
    <script src='https://code.jquery.com/jquery-3.5.1.slim.js' integrity='sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=' crossorigin='anonymous'></script>

    <script src='/static/js/quiz2.js'></script>
</body>
</html>