*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.5));
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 100px;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

header .logo{
    position: relative;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
}

header .navigation li a{
    display: inline-block;
    color: #fff;
    margin-right: 40px;
    text-decoration: none;

}

header .navigation li a:hover{
    color: #03a9f4;
}
a.left
{
    position: relative;
}

header .navigation li a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #03a9f4;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
header .navigation li a.left:hover:before {
    visibility: visible;
    width: 100%;
  }



@media (max-width: 991px)
{
    header{
        padding: 15px 40px;
    }
    section{
        padding: 40px;
        background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.5));
        background-size: cover;
        background-position: center;
    }
    
    header .navigation{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #000;
        z-index: 10;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header .navigation.active{
        display: flex;
    }
    header .navigation li a{
        font-size: 24px;
        margin: 10px 0;
    }
    .toggleMenu{
        position: relative;
        right: 10px;
        width: 30px;
        height: 30px;
        background: url(/static/img/menu.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 11;
    }

    .toggleMenu.active{
        background: url(/static/img/close.png);
        background-position: center;
        background-size: 25px;
        background-repeat: no-repeat;
    }
}


.sanskrit {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 100px;
    

  }
  
  .sanskrit .cards{
    width: 300px;
    height: 300px;
    border-radius: 5px; 
    /* margin: 20px; */
    margin-left: 114px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  @media only screen and (max-width: 320px) {
  .sanskrit {
    flex-direction:column;
    margin-left: -30px;
   }

   .sanskrit .cards{
       margin-left: 0px;
   }

   header .logo{
       font-size: 1.5em;
   }
}

    .C1{
      background-color: #20887f;
    }

    .C2{
        background-color: #A73C11;
    }   

    .C3{
        background-color: #FF6F32; 
    }

    .C4{
        background-color: #FFBB58;    
    }

   


    
    body{
        background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
    }
    .contact-form{
        background: #fff;
        margin-top: 5%;
        width: 70%;
    }
    .contact-form .form-control{
        border-radius:1rem;
    }
    .contact-image{
        text-align: center;
    }
    .contact-image img{
        border-radius: 6rem;
        width: 11%;
        margin-top: -3%;
        transform: rotate(29deg);
    }
    .contact-form form{
        padding: 14%;
    }
    .contact-form form .row{
        margin-bottom: -7%;
    }
    .form-group{
        margin-top: 10px;
    }
    .contact-form h3{
        margin-bottom: 8%;
        margin-top: -10%;
        text-align: center;
        color: #0062cc;
    }
    .contact-form .btnContact {
        width: 50%;
        border: none;
        border-radius: 1rem;
        padding: 1.5%;
        background: #dc3545;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        margin-top: 8px;
    }
    .btnContactSubmit
    {
        width: 50%;
        border-radius: 1rem;
        padding: 1.5%;
        color: #fff;
        background-color: #0062cc;
        border: none;
        cursor: pointer;
    }
    


/* Quiz */
#Quiz{
    margin: 40px 20%;
}

.quiz-heading{
    background-color: #FFF0DE;
    box-shadow: 0px 0px 15px #000;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.question{
    background-color: #FFF0DE;
    box-shadow: 0px 0px 15px #000;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.question .row{
    margin-bottom: 13px;
}

.question img{
    width: 200px;
}

.question .question-no{
    text-align: center;
}

.options{
    display: flex;
    justify-content: space-around;
}

.options span{
    padding: 10px 15px;
    background-color: white;
    border-radius: 4px;
    transition: 0.5s;
}

.options input{
    display: none;
}

input[type="radio"]:checked+span{
    background-color: #FFBB58;
    box-shadow: 0px 0px 10px black;
}

.actions {
    margin-top: 20px;
}

.actions button{
    box-shadow: 0px 0px 5px black;
}

.actions .submit{
    display: none;
}

.actions .alert{
    color: white;
}





/* Mantras */

.image-grid-item{
    margin-top: 30px;

}

.image-grid-cover {
    width: 80%;
    background-size: cover;
    min-height: 150px;
    margin-left: 30px;
    position: relative;
    margin-bottom: 30px;
    text-shadow: rgba(0,0,0,.8) 0 1px 0;
    border-radius: 4px;
}
.image-grid-clickbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: rgba(0,0,0,.45);
}
.cover-wrapper {
    font-size: 18px;
    text-align: center;
    display: block;
    color: #fff;
    text-shadow: rgba(0,0,0,.8) 0 1px 0;
    z-index: 21;
    position: relative;
    top: 50px;
}
a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}


    /* SnackBar */
    #snackbar {
        visibility: hidden;
        min-width: 250px;
        max-width: 500px;
        word-wrap: break-word;
        margin-left: -125px;
        background-color: rgb(238, 25, 25);
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 100;
        right: 0px;
        margin-right: 10px;
        bottom: 30px;
      }
      
      #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
      }
      
      @-webkit-keyframes fadein {
        from {
          bottom: 0;
          opacity: 0;
        }
      
        to {
          bottom: 30px;
          opacity: 1;
        }
      }
      
      @keyframes fadein {
        from {
          bottom: 0;
          opacity: 0;
        }
      
        to {
          bottom: 30px;
          opacity: 1;
        }
      }
      
      @-webkit-keyframes fadeout {
        from {
          bottom: 30px;
          opacity: 1;
        }
      
        to {
          bottom: 0;
          opacity: 0;
        }
      }
      
      @keyframes fadeout {
        from {
          bottom: 30px;
          opacity: 1;
        }
      
        to {
          bottom: 0;
          opacity: 0;
        }
    }