<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <title>Sanskritam</title>


</head>
<script>
        const showSnackbar = (text, status = "normal") => {

            var x = document.getElementById("snackbar");
            if (status == "error") {
                x.style.backgroundColor = "rgba(240, 39, 12, 0.877)";
            }
            else if (status == "success") {
                x.style.backgroundColor = "rgba(12, 240, 80, 0.877)";
                x.style.color = "#333";
            }
            x.innerHTML = text;
            x.className = "show";

            setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
        }
    </script>
<body>
<div id="snackbar">This is a snackbar</div>
    <section>
      {% if messages %}
  {% for message in messages %}
    <script>
        showSnackbar("{{message}}","{{ message.tags }}");
    </script>
  <!-- <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
    <strong>Message: </strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
  {% endfor %}
  {% endif %}
        
        <header>
            <a href="#" class="logo">संस्कृतम्</a>
            <div class="toggleMenu" onclick="toggleMenu();"></div>
            <ul class="navigation">
                <li><a href="{% url 'home'%}" class="left">Home</a></li>
                <li><a href="{% url 'mantras'%}" class="left">Mantras</a></li>
                <li><a href="{% url 'books'%}" class="left">Books</a></li>
                <li><a href="{% url 'quiz'%}" class="left">Quiz</a></li>
                <li><a href="{% url 'contact'%}" class="left">Contact Us</a></li>

        </header>
        
        

        {% block content %}
        {% endblock content %}

        

    </section>
    <script type="text/javascript">
        function toggleMenu() {
            const toggleMenu = document.querySelector('.toggleMenu');
            const navigation = document.querySelector('.navigation');
            toggleMenu.classList.toggle('active');
            navigation.classList.toggle('active');
        }
        </script>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>

</html>